/* .e26_2 {
  width: 100%;
  height: 100%;
  position: absolute;
}
.e23_0 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
} */
.background_image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/park.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.money_background {
  background-color: rgba(
    48.000000938773155,
    48.000000938773155,
    54.00000058114529,
    0.800000011920929
  );
  width: 9.93%;
  height: 4.39%;
  position: absolute;
  left: 90.069%;
  top: 12.89%;
}
.probability_background {
  /* background-color:rgba(5.000000176951289, 4.000000236555934, 1.0000000591389835, 1); */
  background-color: grey;
  width: 43.75%;
  height: 8.8867%;
  position: absolute;
  left: 28.125%;
  top: 89.355%;
  display: none;
}
.character_icon {
  width: 5%;
  height: 7.8125%;
  position: absolute;
  left: 1.6667%;
  top: 90.4297%;
  background-image: url(images/character1_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* #progress {
  height: 38px;
  width: 150px;
  background-color: #0080ff;
  border-radius: 6px;
  background: #6db3f2;
  background: -moz-linear-gradient(
    top,
    #6db3f2 0%,
    #54a3ee 50%,
    #3690f0 51%,
    #1e69de 100%
  );
  
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #6db3f2),
    color-stop(50%, #54a3ee),
    color-stop(51%, #3690f0),
    color-stop(100%, #1e69de)
  );
  
  position: absolute;
  left: 90.069%;
  top: -0.09765%;
}

#done:active {
  -webkit-box-shadow: inset 0px 0px 18px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 18px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

#done {
  text-align: center;
  line-height: 38px;
  font-size: 14px;
  font-weight: bold;
  color: #eee;
  height: 38px;
  width: 250px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#pb:hover #progress {
  transition: all 10.3s;
  width: 10px;
} */

.bank_icon {
  width: 9.93%;
  height: 12.988%;
  position: absolute;
  left: 90.069%;
  top: -0.09765%;
  background-image: url(images/bank.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.money {
  color: rgba(255, 255, 255, 1);
  width: 6.25%;
  height: 4.3945%;
  position: absolute;
  left: 91.944%;
  top: 12.890625%;
  font-family: Roboto;
  text-align: left;
  font-size: 2.5vw;
  letter-spacing: 0;
}
.continue_generate_button {
  background-color: rgba(
    39.00000147521496,
    203.00000309944153,
    205.00000298023224,
    1
  );
  width: 20.1389%;
  height: 8.1054%;
  position: absolute;
  left: 77.847%;
  top: 89.9414%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  display: grid;
  align-items: center;
  font-family: Roboto;
  text-align: center;
  font-size: 2.5vw;
  letter-spacing: 0;
}
.map {
	background-color: rgba(
    39.00000147521496,
    203.00000309944153,
    205.00000298023224,
    1
  );
  width: calc(100% * 75 / 1440);
  height: calc(100% * 81 / 1024);
  position: absolute;
  left: calc(100% * 124 / 1440);
  top: calc(100% * 924 / 1024);
  font-family: Roboto;
  color: white;
  text-align: center;
  font-size: 2.5vw;
  letter-spacing: 0;
}
/* .map_background {
  background-color: rgba(
    39.00000147521496,
    203.00000309944153,
    205.00000298023224,
    1
  );
  width: calc(100% * 75 / 1440);
  height: calc(100% * 81 / 1024);
  position: absolute;
  left: calc(100% * 124 / 1440);
  top: calc(100% * 924 / 1024);
}
.map_text {
  color: rgba(255, 255, 255, 1);
  width: calc(100% * 109 / 1440);
  height: calc(100% * 75 / 1024);
  position: absolute;
  left: calc(100% * 128 / 1440);
  top: calc(100% * 940 / 1024);
  font-family: Roboto;
  text-align: left;
  font-size: 2.5vw;
  letter-spacing: 0;
} */
.probability_inner_background {
  width: calc(100% * 560 / 1440);
  height: calc(100% * 70 / 1024);
  position: absolute;
  display: grid;
  align-items: center;
  left: calc(100% * 440 / 1440);
  top: calc(100% * 926 / 1024);
}
.main_text {
  background-color: rgba(
    48.000000938773155,
    48.000000938773155,
    54.00000058114529,
    0.800000011920929
  );
  color: #ffffff;
  width: calc(100% * 1334 / 1440);
  height: calc(100% * 290 / 1024);
  position: absolute;
  display: grid;
  left: calc(100% * 53 / 1440);
  top: calc(100% * 255 / 1024);
  font-family: Roboto;
  text-align: left;
  font-size: 3.333vw;
  letter-spacing: 0;
  padding-left: 1vw;
}
.prompt_text {
  background-color: rgba(
    197.0000034570694,
    216.00000232458115,
    109.00000110268593,
    1
  );
  display: grid;
  align-items: center;
  width: calc(100% * 1137 / 1440);
  height: calc(100% * 72 / 1024);
  position: absolute;
  left: calc(100% * 251 / 1440);
  top: calc(100% * 784 / 1024);
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  text-align: left;
  font-size: 2vw;
  letter-spacing: 0;
  padding-left: 1vw;
}
.header {
  background-color: rgba(
    48.000000938773155,
    48.000000938773155,
    54.00000058114529,
    0.800000011920929
  );
  color: rgba(255, 255, 255, 1);
  width: calc(100% * 405 / 1440);
  height: calc(100% * 95 / 1024);
  position: absolute;
  left: 0%;
  top: 0%;
  display: grid;
  align-items: center;
  font-family: Roboto;
  text-align: left;
  font-size: 3.333vw;
  letter-spacing: 0;
  padding-left: 1vw;
}
.question_mark {
  color: rgba(215.0000023841858, 38.0000015348196, 61.00000016391277, 1);
  background-color: aquamarine;
  width: calc(100% * 40 / 1440);
  height: calc(100% * 88 / 1024);
  position: absolute;
  left: calc(100% * 231 / 1440);
  top: calc(100% * 917 / 1024);
  font-family: Roboto;
  text-align: left;
  /* font-size: 5.556vw; */
  font-size: 4vw;
  letter-spacing: 0;
}
/* .ei23_0_26_3 {
  background-color: rgba(
    197.0000034570694,
    216.00000232458115,
    109.00000110268593,
    1
  );
  width: calc(100% * 93 / 1440);
  height: calc(100% * 80 / 1024);
  position: absolute;
  left: calc(100% * 1207 / 1440);
  top: calc(100% * 911 / 1024);
}
.ei23_0_26_164 {
  transform: rotate(-179.6626778418262deg);
  background-color: rgba(
    48.000000938773155,
    48.000000938773155,
    54.00000058114529,
    1
  );
  width: calc(100% * 39.427974700927734 / 1440);
  height: calc(100% * 46.84823226928711 / 1024);
  position: absolute;
  left: calc(100% * 459.42724609375 / 1440);
  top: calc(100% * 70.07955932617188 / 1024);
} */



/* Cards */
/* .e74_593 { 
	overflow:hidden;
}
.e74_593 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
} */
.background { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	/* width:1440px;
	height:900px; */
	width:100%;
	height:100%;
	position:absolute;
	left:0px;
	top:0px;
}
.card_background { 
	background-color:rgba(48.000000938773155, 48.000000938773155, 54.00000058114529, 1);
	width:calc(100% * 1180 / 1440);
	height:calc(100% * 450 / 900);
	position:absolute;
	left:calc(100% * 130 / 1440);
	top:calc(100% * 160 / 900);
}
/* .e74_597 { 
	background-color:rgba(48.000000938773155, 48.000000938773155, 54.00000058114529, 0.800000011920929);
	width: calc(100% * 1180 / 1440);
	height:calc(100% * 160 / 900);
	position:absolute;
	left:calc(100% * 130 / 1440);
	top:calc(100% * 630 / 900);
} */
.card:hover {
	transform: scale(1.05);
}
.card {
  text-align: center;
}
.cardTitle {
  color: black;
  font-family: Verdana, Tahoma, sans-serif;
  font-variant: small-caps;
  font-size: 1em;
}
#card1 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:calc(100% * 320 / 1440);
	height:calc(100% * 410 / 900);
	position:absolute;
	left:calc(100% * 160 / 1440);
	top:calc(100% * 180 / 900);
}
#card2 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:calc(100% * 320 / 1440);
	height:calc(100% * 410 / 900);
	position:absolute;
	left:calc(100% * 560 / 1440);
	top:calc(100% * 180 / 900);
}
#card3 { 
	background-color:rgba(229.00000154972076, 229.00000154972076, 229.00000154972076, 1);
	width:calc(100% * 320 / 1440);
	height:calc(100% * 410 / 900);
	position:absolute;
	left:calc(100% * 960 / 1440);
	top:calc(100% * 180 / 900);
}
.bottom_bar { 
	background-color:rgba(5.000000176951289, 4.000000236555934, 1.0000000591389835, 1);
	width:100%;
	height:calc(100% * 124 / 900);
	position:absolute;
	left:0px;
	bottom:0px;
}
.right_button { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:calc(100% * 240 / 1440);
	height:calc(100% * 77 / 900);
	position:absolute;
	left:calc(100% * 1160 / 1440);
	bottom:calc(100% * 25 / 900);
}
.left_button { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:calc(100% * 240 / 1440);
	height:calc(100% * 77 / 900);
	position:absolute;
	left:calc(100% * 40 / 1440);
	bottom:calc(100% * 25 / 900);
}