.background_image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/park.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* .money_background {
  background-color: rgba(
    48.000000938773155,
    48.000000938773155,
    54.00000058114529,
    0.800000011920929
  );
  width: 9.93%;
  height: 4.39%;
  position: absolute;
  left: 90.069%;
  top: 12.89%;
} */
.metrics {
  background-color: rgba(
    48.000000938773155,
    48.000000938773155,
    54.00000058114529,
    0.800000011920929
  );
  width: 25%;
  height: 23%;
  position: absolute;
  left: 75%;
  top: 0%;
}
#healthBar {
  width: 90%;
  margin-left: 5%;
  background-color: #ddd;
}

#healthProgress {
  width: 75%;
  height: 30px;
  background-color: #04aa6d;
}
#moneyBar {
  width: 90%;
  margin-left: 5%;
  background-color: #ddd;
}

#moneyProgress {
  width: 75%;
  height: 30px;
  background-color: #04aa6d;
}
.probability_background {
  /* background-color:rgba(5.000000176951289, 4.000000236555934, 1.0000000591389835, 1); */
  background-color: grey;
  width: 43.75%;
  height: 8.8867%;
  position: absolute;
  left: 28.125%;
  top: 89.355%;
  display: none;
}
.character_icon {
  width: 5%;
  height: 7.8125%;
  position: absolute;
  left: 1.6667%;
  top: 90.4297%;
  background-image: url(images/character1_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bank_icon {
  width: 9.93%;
  height: 12.988%;
  position: absolute;
  left: 90.069%;
  top: -0.09765%;
  background-image: url(images/bank.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.money {
  color: rgba(255, 255, 255, 1);
  width: 6.25%;
  height: 4.3945%;
  position: absolute;
  left: 91.944%;
  top: 12.890625%;
  font-family: Roboto;
  text-align: left;
  font-size: 2.5vw;
  letter-spacing: 0;
}
.continue_generate_button {
  background-color: rgba(
    39.00000147521496,
    203.00000309944153,
    205.00000298023224,
    1
  );
  width: 20.1389%;
  height: 8.1054%;
  position: absolute;
  left: 77.847%;
  top: 89.9414%;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  display: grid;
  align-items: center;
  font-family: Roboto;
  text-align: center;
  font-size: 2.5vw;
  letter-spacing: 0;
}
.map {
  background-color: rgba(
    39.00000147521496,
    203.00000309944153,
    205.00000298023224,
    1
  );
  width: calc(100% * 75 / 1440);
  height: calc(100% * 81 / 1024);
  position: absolute;
  left: calc(100% * 124 / 1440);
  top: calc(100% * 924 / 1024);
  font-family: Roboto;
  color: white;
  text-align: center;
  font-size: 2.5vw;
  letter-spacing: 0;
}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
.probability_inner_background {
  width: calc(100% * 560 / 1440);
  height: calc(100% * 70 / 1024);
  position: absolute;
  display: grid;
  align-items: center;
  left: calc(100% * 440 / 1440);
  top: calc(100% * 926 / 1024);
}
.main_text {
  background-color: rgba(
    48.000000938773155,
    48.000000938773155,
    54.00000058114529,
    0.800000011920929
  );
  color: #ffffff;
  width: calc(100% * 1334 / 1440);
  height: calc(100% * 290 / 1024);
  position: absolute;
  display: grid;
  left: calc(100% * 53 / 1440);
  /* top: calc(100% * 255 / 1024); */
  top: calc(100% * 300 / 1024);
  font-family: Roboto;
  text-align: left;
  font-size: 3vw;
  letter-spacing: 0;
  padding-left: 1vw;
  overflow: auto;
}
.prompt_text {
  background-color: rgba(
    197.0000034570694,
    216.00000232458115,
    109.00000110268593,
    1
  );
  display: grid;
  align-items: center;
  width: calc(100% * 1137 / 1440);
  height: calc(100% * 72 / 1024);
  position: absolute;
  left: calc(100% * 251 / 1440);
  top: calc(100% * 784 / 1024);
  color: rgba(255, 255, 255, 1);
  font-family: Roboto;
  text-align: left;
  font-size: 2vw;
  letter-spacing: 0;
  padding-left: 1vw;
}
.header {
  background-color: rgba(
    48.000000938773155,
    48.000000938773155,
    54.00000058114529,
    0.800000011920929
  );
  color: rgba(255, 255, 255, 1);
  /* width: calc(100% * 405 / 1440); */
  width: calc(100% * 500 / 1440);

  height: calc(100% * 95 / 1024);
  position: absolute;
  left: 0%;
  top: 0%;
  display: grid;
  align-items: center;
  font-family: Roboto;
  text-align: left;
  font-size: 3.333vw;
  letter-spacing: 0;
  padding-left: 1vw;
}
.question_mark {
  color: rgba(215.0000023841858, 38.0000015348196, 61.00000016391277, 1);
  background-color: aquamarine;
  width: calc(100% * 40 / 1440);
  height: calc(100% * 88 / 1024);
  position: absolute;
  left: calc(100% * 231 / 1440);
  top: calc(100% * 917 / 1024);
  font-family: Roboto;
  text-align: left;
  /* font-size: 5.556vw; */
  font-size: 4vw;
  letter-spacing: 0;
}
/* .ei23_0_26_3 {
  background-color: rgba(
    197.0000034570694,
    216.00000232458115,
    109.00000110268593,
    1
  );
  width: calc(100% * 93 / 1440);
  height: calc(100% * 80 / 1024);
  position: absolute;
  left: calc(100% * 1207 / 1440);
  top: calc(100% * 911 / 1024);
}
.ei23_0_26_164 {
  transform: rotate(-179.6626778418262deg);
  background-color: rgba(
    48.000000938773155,
    48.000000938773155,
    54.00000058114529,
    1
  );
  width: calc(100% * 39.427974700927734 / 1440);
  height: calc(100% * 46.84823226928711 / 1024);
  position: absolute;
  left: calc(100% * 459.42724609375 / 1440);
  top: calc(100% * 70.07955932617188 / 1024);
} */

/* Cards */
/* .e74_593 { 
	overflow:hidden;
}
.e74_593 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
} */
.background {
  background-color: rgba(
    196.00000351667404,
    196.00000351667404,
    196.00000351667404,
    1
  );
  /* width:1440px;
	height:900px; */
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.card_background {
  background-color: rgba(
    48.000000938773155,
    48.000000938773155,
    54.00000058114529,
    1
  );
  width: calc(100% * 1180 / 1440);
  height: calc(100% * 450 / 900);
  position: absolute;
  left: calc(100% * 130 / 1440);
  top: calc(100% * 160 / 900);
}
/* .e74_597 { 
	background-color:rgba(48.000000938773155, 48.000000938773155, 54.00000058114529, 0.800000011920929);
	width: calc(100% * 1180 / 1440);
	height:calc(100% * 160 / 900);
	position:absolute;
	left:calc(100% * 130 / 1440);
	top:calc(100% * 630 / 900);
} */
.card:hover {
  transform: scale(1.05);
}
.card {
  text-align: center;
}
.cardTitle {
  color: black;
  font-family: Verdana, Tahoma, sans-serif;
  font-variant: small-caps;
  font-size: 1.5em;
}
.cardText {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.25em;
}
#card1 {
  background-color: rgba(
    229.00000154972076,
    229.00000154972076,
    229.00000154972076,
    1
  );
  width: calc(100% * 320 / 1440);
  height: calc(100% * 410 / 900);
  position: absolute;
  left: calc(100% * 160 / 1440);
  top: calc(100% * 180 / 900);
}
#card2 {
  background-color: rgba(
    229.00000154972076,
    229.00000154972076,
    229.00000154972076,
    1
  );
  width: calc(100% * 320 / 1440);
  height: calc(100% * 410 / 900);
  position: absolute;
  left: calc(100% * 560 / 1440);
  top: calc(100% * 180 / 900);
}
#card3 {
  background-color: rgba(
    229.00000154972076,
    229.00000154972076,
    229.00000154972076,
    1
  );
  width: calc(100% * 320 / 1440);
  height: calc(100% * 410 / 900);
  position: absolute;
  left: calc(100% * 960 / 1440);
  top: calc(100% * 180 / 900);
}
.bottom_bar {
  background-color: rgba(
    5.000000176951289,
    4.000000236555934,
    1.0000000591389835,
    1
  );
  width: 100%;
  height: calc(100% * 124 / 900);
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.right_button {
  background-color: rgba(
    196.00000351667404,
    196.00000351667404,
    196.00000351667404,
    1
  );
  width: calc(100% * 240 / 1440);
  height: calc(100% * 77 / 900);
  position: absolute;
  left: calc(100% * 1160 / 1440);
  bottom: calc(100% * 25 / 900);
}
.left_button {
  background-color: rgba(
    196.00000351667404,
    196.00000351667404,
    196.00000351667404,
    1
  );
  width: calc(100% * 240 / 1440);
  height: calc(100% * 77 / 900);
  position: absolute;
  left: calc(100% * 40 / 1440);
  bottom: calc(100% * 25 / 900);
}
